version: '3.5'

services:
  app:
    image: atlassian/jira-software
    restart: unless-stopped
    depends_on:
      - data
    volumes:
      - ./jira/dbconfig.xml:/var/atlassian/application-data/jira
    environment:
      JVM_MINIMUM_MEMORY: 3072m
      JVM_MAXIMUM_MEMORY: 4096m
      ATL_PROXY_NAME: ${DOMAIN:-}
      ATL_PROXY_PORT: ${PROXY_PORT:-}
      ATL_TOMCAT_SCHEME: ${SCHEME:-http}
      ATL_TOMCAT_SECURE: ${SECURE:-false}
      ATL_JDBC_URL: jdbc:postgresql://data/jiradb
      ATL_JDBC_USER: ${DB_USER:-jira}
      ATL_JDBC_PASSWORD: ${DB_PASSWORD:-jira}
      ATL_DB_DRIVER: org.postgresql.Driver
      ATL_DB_TYPE: postgres72
      VIRTUAL_HOST: ${DOMAIN:-}
      LETSENCRYPT_HOST: ${DOMAIN:-}
      LETSENCRYPT_EMAIL: ${EMAIL:-}
    logging:
      options:
        max-size: ${LOGGING_OPTIONS_MAX_SIZE:-200k}
    ports:
      - "${IP:-0.0.0.0}:${PORT:-8080}:8080"
    networks:
      net:
        aliases:
          - foxtrot_app

  data:
    image: postgres:9.4
    restart: unless-stopped
    volumes:
      - /var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USER:-jira}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-jira}
      POSTGRES_DB: jiradb
      POSTGRES_ENCODING: UNICODE
      POSTGRES_COLLATE: C
      POSTGRES_COLLATE_TYPE: C
    logging:
      options:
        max-size: ${LOGGING_OPTIONS_MAX_SIZE:-200k}
    ports:
      - "${DB_PORT:-5432}:5432"
    networks:
      net:
        aliases:
          - foxtrot_data

networks:
  net:
